<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>pl.prodix.vpn_only_osx</string>

  <key>RunAtLoad</key>
  <true/>

  <key>UserName</key>
  <string>root</string>

  <key>GroupName</key>
  <string>wheel</string>

  <key>ProgramArguments</key>
  <array>
    <string>/sbin/pf_vpn_only</string>
  </array>
</dict>
</plist>
